# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

include:
  - project: sysadmin/ci-utilities
    file:
      - /gitlab-templates/craft-windows-x86-64-qt6.yml
      # qt5 support will be discontinued
      #- /gitlab-templates/linux.yml
      - /gitlab-templates/flatpak.yml
      - /gitlab-templates/freebsd-qt6.yml
      - /gitlab-templates/linux-qt6.yml
      - /gitlab-templates/windows-qt6.yml

distro_kf5_leap:
  stage: build
  #when: manual
  image: rhabacker/suse_leap_kf5_qt515
  variables:
    ci_parallel: "16"
    ci_sudo: "yes"
    ci_variant: "kf5"
  before_script:
    - ./tools/ci-install.sh
  script:
    - ./tools/ci-build.sh

distro_kf6_tumbleweed:
  stage: build
  # don't stop pipeline if this job fails
  allow_failure: true
  #when: manual
  image: rhabacker/suse_tumbleweed_kf6_qt68
  variables:
    ci_parallel: "16"
    ci_sudo: "yes"
    ci_variant: "kf6"
  before_script:
    - ./tools/ci-install.sh
  script:
    - ./tools/ci-build.sh
