[Desktop Entry]
Type=Service
Name=Vertical Layout
Name[en_GB]=Vertical Layout
Name[es]=Disposición vertical
Name[fi]=Pystysuuntainen asettelu
Name[fr]=Disposition verticale
Name[it]=Disposizione verticale
Name[nl]=Verticale indeling
Name[pl]=Układ pionowy
Name[pt]=Disposição Vertical
Name[pt_BR]=Leiaute vertical
Name[sk]=Zvislé rozloženie
Name[sv]=Vertikal layout
Name[uk]=Вертикальне компонування
Name[x-test]=xxVertical Layoutxx
Comment=Layout which renders vertical
Comment[en_GB]=Layout which renders vertical
Comment[es]=Diseño que se organiza de forma vertical
Comment[fi]=Pystysuuntaan piirtävä asettelu
Comment[fr]=Disposition permettant un rendu vertical
Comment[it]=Disposizione che rende in verticale
Comment[nl]=Indeling die zich verticaal laat weergeven
Comment[pl]=Układ, który wyświetla pionowo
Comment[pt]=Uma disposição que representa os itens na vertical
Comment[pt_BR]=Leiaute que representa os itens na vertical
Comment[sk]=Rozloženie, ktoré renderuje zvislo
Comment[sv]=Layout som återger vertikalt
Comment[uk]=Компонування з вертикальним розташуванням елементів
Comment[x-test]=xxLayout which renders verticalxx

[X-UMBRELLO-Dot-Nodes]
# FIXME: graphviz dot not have appropriate node shape yet
type::accept=shape=trapezium
type::branch=shape=diamond
type::end=shape=doublecircle
type::final=shape=circle,label="+"
type::forkjoin=shape=box,style=filled,fillcolor=black,width="0.1",label=""
type::initial=shape=circle
type::invok=shape=box
type::normal=shape=box,style=rounded
# FIXME: add line below the text
type::objectnode=shape=box
type::param=shape=box
type::pin=shape=box,width="0.1",height="0.1"
type::region=shape=box,style="dashed,rounded"
# FIXME: graphviz dot not have appropriate node shape yet
type::send=shape=parallelogram
# FIXME: graphviz dot not have appropriate node shape yet
type::time=shape=box
# all other
type::default=shape=box

[X-UMBRELLO-Dot-Edges]
# for visual representation
visual::type::anchor=arrowhead=none,style=dashed
visual::type::exception=label="exception"
visual::type::state=arrowhead=normal
ranking::type::default=len=1.5
# id handling
id::type::default=swap

[X-UMBRELLO-Dot-Attributes]
graph=splines=polyline,rankdir=TB,outputorder=nodesfirst,ranksep=0.5,nodesep=0.5
node=
edge=

[X-UMBRELLO-Dot-Settings]
origin=50,50
generator=dot

# see http://www.graphviz.org/pdf/dotguide.pdf
# see http://www.graphviz.org/pdf/neatoguide.pdf
# for dot/neato attribute details
