[Desktop Entry]
Type=Service
Name=Export Layout
Name[ar]=صدّر التخطيط
Name[bs]=Izvozni raspored
Name[ca]=Exporta la disposició
Name[ca@valencia]=Exporta la disposició
Name[cs]=Exportovat rozvržení
Name[da]=Eksportér layout
Name[de]=Layout exportieren
Name[el]=Εξαγωγή διάταξης
Name[en_GB]=Export Layout
Name[eo]=Eksportaranĝo
Name[es]=Exportar disposición
Name[et]=Paigutuse eksport
Name[eu]=Esportatu antolamendua
Name[fi]=Vientiasettelu
Name[fr]=Disposition de l'exportation
Name[gl]=Exportar a disposición
Name[he]=ייצוא פריסה
Name[hu]=Elrendezés exportálása
Name[it]=Disposizione di esportazione
Name[ka]=გატანის განლაგება
Name[kk]=Экспорттың орналасуы
Name[ko]=레이아웃 내보내기
Name[lt]=Eksportuoti išdėstymą
Name[mr]=रचना निर्यात करा
Name[nb]=Eksporter utforming
Name[nl]=Indeling exporteren
Name[nn]=Eksporter utforming
Name[pa]=ਲੇਆਉਟ ਐਕਸਪੋਰਟ
Name[pl]=Wyeksportuj układ
Name[pt]=Exportar a Disposição
Name[pt_BR]=Exportar layout
Name[ru]=Шаблон экспорта
Name[sk]=Exportovať rozloženie
Name[sl]=Izvozi postavitev
Name[sr]=Извези распоред
Name[sr@ijekavian]=Извези распоред
Name[sr@ijekavianlatin]=Izvezi raspored
Name[sr@latin]=Izvezi raspored
Name[sv]=Exportera layout
Name[tr]=Yerleşimi Dışa Aktar
Name[uk]=Компонування експортованих даних
Name[zh_CN]=导出布局
Name[zh_TW]=匯出佈局
Comment=Export Layout for Activity Diagrams
Comment[ar]=تخطيط التصدير لمخطّطات النشاط
Comment[bs]=Izvozni raspored za dijagrame aktivnosti
Comment[ca]=Exporta la disposició dels diagrames d'activitat
Comment[ca@valencia]=Exporta la disposició dels diagrames d'activitat
Comment[da]=Eksportér layout for aktivitetsdiagrammer
Comment[de]=Layout für Aktivitätsdiagramme exportieren
Comment[el]=Εξαγωγή διάταξης για διαγράμματα δραστηριοτήτων
Comment[en_GB]=Export Layout for Activity Diagrams
Comment[eo]=Eksportaranĝo por Aktivecdiagramoj
Comment[es]=Exportar diseño de diagramas de actividades
Comment[et]=Tegevusskeemide paigutuse eksport
Comment[eu]=Esportatu jarduera-diagramen antolamendua
Comment[fi]=Aktiviteettikaavioiden vientiasettelu
Comment[fr]=Disposition de l'exportation pour les diagrammes d'activités
Comment[gl]=Exportar a disposición para diagramas de actividade.
Comment[he]=ייצוא פריסה לתרשימי פעילות
Comment[hu]=Tevékenység diagramok elrendezésének exportálása
Comment[it]=Disposizione di esportazione per i diagrammi di attività
Comment[ka]=განლაგებების აქტივობის დიაგრამებისთვის გატანა
Comment[kk]=Белсенділік диаграмма үшін экспорттың орналасуы
Comment[ko]=활동 다이어그램의 레이아웃 내보내기
Comment[lt]=Eksportuoti išdėstymą Veiklos diagramoms
Comment[nb]=Eksporter utforming for aktivitetsdiagrammer
Comment[nl]=Indeling voor activiteitsdiagrammen exporteren
Comment[nn]=Eksporter utforming for aktivitetsdiagram
Comment[pl]=Wyeksportuj układ dla diagramów działań
Comment[pt]=Exportar a Disposição dos Diagramas de Actividades
Comment[pt_BR]=Exportar layout para diagramas de atividades
Comment[ru]=Шаблон экспорта для диаграмм деятельности
Comment[sk]=Exportovať rozloženie pre diagramy aktivít
Comment[sl]=Izvozi postavitev za diagrame dejavnosti
Comment[sr]=Извези распоред за дијаграме активности
Comment[sr@ijekavian]=Извези распоред за дијаграме активности
Comment[sr@ijekavianlatin]=Izvezi raspored za dijagrame aktivnosti
Comment[sr@latin]=Izvezi raspored za dijagrame aktivnosti
Comment[sv]=Exportera layout av aktivitetsdiagram
Comment[tr]=Etkinlik Diyagramları Yerleşimini Dışa Aktar
Comment[uk]=Компонування для експортування діаграм дій
Comment[zh_CN]=导出活动图布局
Comment[zh_TW]=活動圖片的匯出佈局

[X-UMBRELLO-Dot-Nodes]
# FIXME: graphviz dot not have appropriate node shape yet
type::accept=shape=trapezium
type::branch=shape=diamond
type::end=shape=doublecircle
type::final=shape=circle,label="+"
type::forkjoin=shape=box,style=filled,fillcolor=black,width="0.1",label=""
type::initial=shape=circle
type::invok=shape=box
type::normal=shape=box,style=rounded
# FIXME: add line below the text
type::objectnode=shape=box
type::param=shape=box
type::pin=shape=box,width="0.1",height="0.1"
type::region=shape=box,style="dashed,rounded"
# FIXME: graphviz dot not have appropriate node shape yet
type::send=shape=parallelogram
# FIXME: graphviz dot not have appropriate node shape yet
type::time=shape=box
# all other
type::default=shape=box

[X-UMBRELLO-Dot-Edges]
# for visual representation
visual::type::anchor=arrowhead=none,style=dashed
visual::type::exception=label="exception"
visual::type::state=arrowhead=normal
ranking::type::default=len=1.5
# id handling
id::type::default=swap

[X-UMBRELLO-Dot-Attributes]
graph=overlap=false
node=
edge=

[X-UMBRELLO-Dot-Settings]
origin=50,50
generator=neato

# see https://www.graphviz.org/pdf/dotguide.pdf
# see https://www.graphviz.org/pdf/neatoguide.pdf
# for dot/neato attribute details
