[Desktop Entry]
Type=Service
Name=Export Layout
Name[en_GB]=Export Layout
Name[es]=Exportar disposición
Name[fi]=Vientiasettelu
Name[fr]=Disposition de l'exportation
Name[gl]=Exportar a disposición
Name[it]=Disposizione di esportazione
Name[nl]=Indeling exporteren
Name[pl]=Eksportuj układ
Name[pt]=Exportar a Disposição
Name[pt_BR]=Exportar leiaute
Name[sk]=Exportovať rozloženie
Name[sv]=Exportera layout
Name[uk]=Компонування експортованих даних
Name[x-test]=xxExport Layoutxx
Comment=Export Layout for Activity Diagrams
Comment[en_GB]=Export Layout for Activity Diagrams
Comment[es]=Exportar disposición de diagramas de actividad
Comment[fi]=Aktiviteettikaavioiden vientiasettelu
Comment[fr]=Disposition de l'exportation pour les diagrammes d'activités
Comment[gl]=Exportar a disposición para diagramas de actividade.
Comment[it]=Disposizione di esportazione per i diagrammi di attività
Comment[nl]=Indeling voor activiteitsdiagrammen exporteren
Comment[pl]=Eksportuj układ dla diagramów działań
Comment[pt]=Exportar a Disposição dos Diagramas de Actividades
Comment[pt_BR]=Exportar leiaute para diagramas de atividades
Comment[sk]=Exportovať rozloženie pre diagramy aktivít
Comment[sv]=Exportera layout av aktivitetsdiagram
Comment[uk]=Компонування для експортування діаграм дій
Comment[x-test]=xxExport Layout for Activity Diagramsxx

[X-UMBRELLO-Dot-Nodes]
# FIXME: graphviz dot not have appropriate node shape yet
type::accept=shape=trapezium
type::branch=shape=diamond
type::end=shape=doublecircle
type::final=shape=circle,label="+"
type::forkjoin=shape=box,style=filled,fillcolor=black,width="0.1",label=""
type::initial=shape=circle
type::invok=shape=box
type::normal=shape=box,style=rounded
# FIXME: add line below the text
type::objectnode=shape=box
type::param=shape=box
type::pin=shape=box,width="0.1",height="0.1"
type::region=shape=box,style="dashed,rounded"
# FIXME: graphviz dot not have appropriate node shape yet
type::send=shape=parallelogram
# FIXME: graphviz dot not have appropriate node shape yet
type::time=shape=box
# all other
type::default=shape=box

[X-UMBRELLO-Dot-Edges]
# for visual representation
visual::type::anchor=arrowhead=none,style=dashed
visual::type::exception=label="exception"
visual::type::state=arrowhead=normal
ranking::type::default=len=1.5
# id handling
id::type::default=swap

[X-UMBRELLO-Dot-Attributes]
graph=overlap=false
node=
edge=

[X-UMBRELLO-Dot-Settings]
origin=50,50
generator=neato

# see http://www.graphviz.org/pdf/dotguide.pdf
# see http://www.graphviz.org/pdf/neatoguide.pdf
# for dot/neato attribute details
