[Desktop Entry]
Type=Service
Name=Horizontal Layout
Name[ca]=Disposició horitzontal
Name[da]=Vandret layout
Name[de]=Horizontales Layout
Name[es]=Disposición horizontal
Name[et]=Rõhtne paigutus
Name[fr]=Disposition horizontale
Name[hu]=Vízszintes elrendezés
Name[it]=Disposizione orizzontale
Name[kk]=Жатық орналасуы
Name[lt]=Horizontalus išdėstymas
Name[nb]=Vannrett utforming
Name[nl]=Horizontale indeling
Name[pl]=Układ poziomy
Name[pt]=Disposição Horizontal
Name[pt_BR]=Leiaute horizontal
Name[sk]=Vodorovné rozloženie
Name[sr]=Водоравни распоред
Name[sr@ijekavian]=Водоравни распоред
Name[sr@ijekavianlatin]=Vodoravni raspored
Name[sr@latin]=Vodoravni raspored
Name[sv]=Horisontell layout
Name[tr]=Yatay Düzen
Name[uk]=Горизонтальне компонування
Name[x-test]=xxHorizontal Layoutxx
Name[zh_CN]=水平布局
Name[zh_TW]=水平佈局
Comment=Layout which renders Horizontal
Comment[ca]=DIsposició que renderitza horitzontalment
Comment[da]=Layout som renderer vandret
Comment[de]=Layout, das horizontal gerendert wird
Comment[es]=Diseño que se organiza de forma horizontal
Comment[et]=Rõhtsalt renderdatud paigutus
Comment[fr]=Disposition permettant un rendu horizontal
Comment[hu]=Elrendezés, amely vízszintesen jelenít meg
Comment[it]=Disposizione che rende in orizzontale
Comment[kk]=Қатарлап орналасуы
Comment[nb]=Utforming som tegner opp vannrett
Comment[nl]=Indeling die zich horizontaal laat weergeven
Comment[pl]=Układ, który wyświetla poziomo
Comment[pt]=Uma disposição que representa os itens na horizontal
Comment[pt_BR]=Leiaute que representa os itens na horizontal
Comment[sk]=Rozloženie, ktoré renderuje vodorovne
Comment[sr]=Распоред који исцртава водоравно
Comment[sr@ijekavian]=Распоред који исцртава водоравно
Comment[sr@ijekavianlatin]=Raspored koji iscrtava vodoravno
Comment[sr@latin]=Raspored koji iscrtava vodoravno
Comment[sv]=Layout som återger horisontellt
Comment[tr]=Yatay hazırlanan düzen
Comment[uk]=Компонування з горизонтальним розташуванням елементів
Comment[x-test]=xxLayout which renders Horizontalxx
Comment[zh_CN]=水平显示的布局
Comment[zh_TW]=水平繪製的佈局

[X-UMBRELLO-Dot-Nodes]
type::class=shape=box
type::default=shape=box

# for image output
[X-UMBRELLO-Dot-Edges]
# for visual representation
visual::type::anchor=arrowhead=none,style=dashed
visual::type::aggregation=arrowtail=odiamond,dir=back
visual::type::composition=arrowhead=diamonds
visual::type::containment=arrowtail=odottee,dir=back
visual::type::dependency=arrowtail=vee,style=dashed,dir=back
visual::type::uniassociation=arrowtail=vee,dir=back
visual::type::association=arrowhead=none
visual::type::generalization=arrowtail=onormal,dir=back
visual::type::realisation=arrowtail=normal,dir=back
visual::type::default=arrowhead=none
# for position ranking
ranking::type::anchor=weight=0.001
ranking::type::aggregation=weight=0.001
ranking::type::association=weight=0.001
ranking::type::composition=weight=0.001
ranking::type::containment=weight=0.001
ranking::type::dependency=weight=0.001
ranking::type::generalization=weight=1.0
ranking::type::realisation=weight=0.8
ranking::type::uniassociation=weight=0.001
ranking::type::default=weight=0.001
# id handling
id::type::aggregation=swap
id::type::composition=swap
id::type::containment=swap

[X-UMBRELLO-Dot-Attributes]
graph=splines=polyline,rankdir=LR,outputorder=nodesfirst,ranksep=1.0,nodesep=0.8
node=
edge=

[X-UMBRELLO-Dot-Settings]
origin=50,50

