[Desktop Entry]
Type=Service
Name=Horizontal Layout
Comment=Layout which renders Horizontal
Comment[x-test]=xxHorizontal Layoutxx

[X-UMBRELLO-Nodes]
type::class=shape=box
type::default=shape=box

# for image output
[X-UMBRELLO-Edges-Visual]
type::anchor=arrowhead=none
type::aggregation=arrowhead=odiamond
type::composition=arrowhead=diamond
type::dependency=arrowtail=vee,style=dashed,dir=back
type::uniassociation=arrowtail=vee,dir=back
type::association=arrowhead=none
type::generalization=arrowtail=normal,dir=back
type::realisation=arrowtail=normal,dir=back
type::default=arrowhead=none

# for ranking (entries are added)
[X-UMBRELLO-Edges-Ranking]
type::anchor=constraint=false
type::aggregation=weight=0.01
type::association=constraint=false
type::composition=weight=0.01
type::dependency=weight=0.01
type::generalization=weight=1.0
type::realisation=weight=0.8
type::uniassociation=constraint=false
type::default=constraint=false

[X-UMBRELLO-Attributes]
graph=splines=polyline,rankdir=LR,outputorder=nodesfirst,ranksep=1.0,nodesep=0.8
node=
edge=

[X-UMBRELLO-Settings]
origin=50,50

