[Desktop Entry]
Type=Service
Name=Horizontal Layout
Name[nl]=Horizontale indeling
Comment=Layout which renders horizontal
Comment[nl]=Indeling die zich horizontaal laat weergeven

[X-UMBRELLO-Dot-Nodes]
type::artifact=shape=box
type::component=shape=component
type::interface=shape=doublecircle
type::note=shape=box
type::default=shape=box

# for dot output
[X-UMBRELLO-Dot-Edges]
# for visual representation
visual::type::component::port=arrowhead=none,style=dotted
visual::type::anchor=arrowhead=none,style=dashed
visual::type::association=arrowhead=none
visual::type::dependency=arrowtail=vee,style=dashed,dir=back
visual::type::realization=arrowtail=normal,dir=back
visual::type::uniassociation=arrowtail=vee,dir=back
visual::type::default=arrowhead=none
# for position ranking
ranking::type::component::port=minlen=0.0001,constraint=false
#ranking::type::anchor=weight=0.8
ranking::type::association=weight=0.8
ranking::type::dependency=weight=0.8
ranking::type::realization=weight=0.8
ranking::type::uniassociation=weight=0.8
ranking::type::default=weight=0.001

[X-UMBRELLO-Dot-Attributes]
graph=rankdir=LR,outputorder=nodesfirst,ranksep=0.5,nodesep=0.5
node=
edge=

[X-UMBRELLO-Dot-Attributes-Spline]
graph=splines=true
node=
edge=

[X-UMBRELLO-Dot-Attributes-Orthogonal]
graph=splines=ortho
node=
edge=

[X-UMBRELLO-Dot-Attributes-Polyline]
graph=splines=polyline
node=
edge=

[X-UMBRELLO-Dot-Attributes-Direct]
graph=splines=false
node=
edge=

[X-UMBRELLO-Dot-Settings]
origin=50,50
