[Desktop Entry]
Type=Service
Name=Vertical Layout
Comment=Layout which renders vertical

[X-UMBRELLO-Dot-Nodes]
type::note=shape=note
type::entity=shape=box
type::category=shape=circle
type::default=shape=box

# for dot output
[X-UMBRELLO-Dot-Edges]
# for visual representation
visual::type::anchor=arrowhead=none,style=dashed
visual::type::category2parent=arrowhead=none,style=dashed
visual::type::relationship=arrowtail=crow,dir=back
visual::type::default=arrowhead=none
# for position ranking
ranking::type::anchor=weight=0.001
ranking::type::relationship=weight=1.0
ranking::type::default=weight=0.001

[X-UMBRELLO-Dot-Attributes]
graph=rankdir=TB,outputorder=nodesfirst,ranksep=0.5,nodesep=0.5
node=
edge=

[X-UMBRELLO-Dot-Attributes-Spline]
graph=splines=true
node=
edge=

[X-UMBRELLO-Dot-Attributes-Orthogonal]
graph=splines=ortho
node=
edge=

[X-UMBRELLO-Dot-Attributes-Polyline]
graph=splines=polyline
node=
edge=

[X-UMBRELLO-Dot-Attributes-Direct]
graph=splines=false
node=
edge=

[X-UMBRELLO-Dot-Settings]
origin=50,50
