[Desktop Entry]
Type=Service
Name=Export Layout
Name[bs]=Izvozni raspored
Name[ca]=Exporta la disposició
Name[ca@valencia]=Exporta la disposició
Name[cs]=Exportovat rozlo?ení
Name[da]=Eksportér layout
Name[de]=Layout exportieren
Name[el]=??????? ????????
Name[en_GB]=Export Layout
Name[es]=Exportar disposición
Name[et]=Paigutuse eksport
Name[fi]=Vientiasettelu
Name[fr]=Disposition de l'exportation
Name[gl]=Exportar a disposición
Name[hu]=Exportálás elrendezés
Name[it]=Disposizione di esportazione
Name[kk]=?????????? ?????????
Name[ko]=???? ????
Name[lt]=Eksportuoti i?d?stym?
Name[mr]=???? ??????? ???
Name[nb]=Eksporter utforming
Name[nl]=Indeling exporteren
Name[pa]=????? ???????
Name[pl]=Eksportuj uk?ad
Name[pt]=Exportar a Disposição
Name[pt_BR]=Exportar layout
Name[ru]=?????? ????????
Name[sk]=Exportova? rozlo?enie
Name[sl]=Izvozi postavitev
Name[sr]=?????? ????????
Name[sr@ijekavian]=?????? ????????
Name[sr@ijekavianlatin]=Izvezi raspored
Name[sr@latin]=Izvezi raspored
Name[sv]=Exportera layout
Name[tr]=Düzeni D??ar?ya Aktar
Name[uk]=???????????? ????????????? ?????
Name[x-test]=xxExport Layoutxx
Name[zh_CN]=????
Name[zh_TW]=????
Comment=Export Layout for Class Diagrams
Comment[bs]=Izvozni raspored za dijagrame klase
Comment[ca]=Exporta la disposició dels diagrames de classe
Comment[ca@valencia]=Exporta la disposició dels diagrames de classe
Comment[da]=Eksportér layout for klassediagrammer
Comment[de]=Layout für Klassendiagramme exportieren
Comment[el]=??????? ???????? ??? Class ???????????
Comment[en_GB]=Export Layout for Class Diagrams
Comment[es]=Exportar diseño de diagramas de clases
Comment[et]=Klassiskeemide paigutuse eksport
Comment[fi]=Luokkakaavioiden vientiasettelu
Comment[fr]=Disposition de l'exportation pour les diagrammes de classes
Comment[gl]=Exportar a disposición para diagramas de clases.
Comment[hu]=Exportálás elrendezés az osztály diagramokhoz
Comment[it]=Disposizione di esportazione per i diagrammi di classe
Comment[kk]=???? ????????? ???? ?????????? ?????????
Comment[ko]=??? ?????? ???? ????
Comment[lt]=Eksportuoti i?d?stym? Klasi? diagramoms
Comment[nb]=Eksporter utforming for klassediagrammer
Comment[nl]=Indeling voor klassediagrammen exporteren
Comment[pl]=Eksportuj uk?ad dla diagramów klas
Comment[pt]=Exportar a Disposição dos Diagramas de Classes
Comment[pt_BR]=Exportar layout para diagramas de classe
Comment[ru]=?????? ???????? ??? ???????? ???????
Comment[sk]=Exportova? rozlo?enie pre diagramy tried
Comment[sl]=Izvozi postavitev za diagrame razredov
Comment[sr]=?????? ???????? ?? ????????? ?????
Comment[sr@ijekavian]=?????? ???????? ?? ????????? ?????
Comment[sr@ijekavianlatin]=Izvezi raspored za dijagrame klasa
Comment[sr@latin]=Izvezi raspored za dijagrame klasa
Comment[sv]=Exportera layout av klassdiagram
Comment[tr]=Düzeni S?n?f Diyagramlar? için D??a Aktar
Comment[uk]=???????????? ??? ????????????? ??????? ??????
Comment[x-test]=xxExport Layout for Class Diagramsxx
Comment[zh_CN]=??????
Comment[zh_TW]=?????????

[X-UMBRELLO-Dot-Nodes]
type::note=shape=note
type::entity=shape=box
type::category=shape=circle
type::default=shape=box

# for dot output
[X-UMBRELLO-Dot-Edges]
# for visual representation
visual::type::anchor=arrowhead=none,style=dashed
visual::type::category2parent=arrowhead=none,style=dashed
visual::type::relationship=arrowtail=crow,dir=back
visual::type::default=arrowhead=none
# for position ranking
ranking::type::anchor=weight=0.001
ranking::type::relationship=weight=1.0
ranking::type::default=weight=0.001

[X-UMBRELLO-Dot-Attributes]
graph=splines=polyline,rankdir=TB,outputorder=nodesfirst,ranksep=0.5,nodesep=0.5
node=
edge=

[X-UMBRELLO-Dot-Settings]
origin=50,50
