[Desktop Entry]
Type=Service
Name=Export Layout
Name[nl]=Indeling exporteren
Comment=Export Layout for Object Diagrams
Comment[nl]=Indeling voor objectdiagrammen exporteren

[X-UMBRELLO-Dot-Nodes]
type::instance=shape=box
type::default=shape=box

# for dot output
[X-UMBRELLO-Dot-Edges]
# for visual representation
visual::type::anchor=arrowhead=none,style=dashed
visual::type::association=arrowhead=none
visual::type::default=arrowhead=none
# for position ranking
ranking::type::anchor=weight=0.001
ranking::type::association=weight=0.001
ranking::type::default=weight=0.001

[X-UMBRELLO-Dot-Attributes]
graph=rankdir=TB,outputorder=nodesfirst,ranksep=0.5,nodesep=0.5
node=
edge=

[X-UMBRELLO-Dot-Attributes-Spline]
graph=splines=true
node=
edge=

[X-UMBRELLO-Dot-Attributes-Orthogonal]
graph=splines=ortho
node=
edge=

[X-UMBRELLO-Dot-Attributes-Polyline]
graph=splines=polyline
node=
edge=

[X-UMBRELLO-Dot-Attributes-Direct]
graph=splines=false
node=
edge=

[X-UMBRELLO-Dot-Settings]
origin=50,50
