[Desktop Entry]
Type=Service
Name=Export Layout
Name[nl]=Indeling exporteren
Comment=Export Layout for State Diagrams
Comment[nl]=Indeling voor statusdiagrammen exporteren

[X-UMBRELLO-Dot-Nodes]
type::initial=shape=circle
type::normal=shape=box,style=rounded
type::end=shape=doublecircle
type::fork=shape=box,style=filled,fillcolor=black,width="0.1",label=""
type::join=shape=box,style=filled,fillcolor=black,width="0.1",label=""
type::junction=shape=circle,style=filled,fillcolor=black,width="0.4",label=""
type::deephistory=shape=circle,width="0.4",label="H*"
type::shallowhistory=shape=circle,width="0.4",label="H"
type::choice=shape=diamond
type::default=shape=box

[X-UMBRELLO-Dot-Edges]
# for visual representation
visual::type::state=arrowhead=normal,label=""
#visual::type::default=arrowhead=none,minlen=0.5
ranking::type::default=len=2
# id handling
id::type::state=swap

[X-UMBRELLO-Dot-Attributes]
graph=model=mds,normalize=yes
node=
edge=

[X-UMBRELLO-Dot-Attributes-Spline]
graph=splines=true
node=
edge=

[X-UMBRELLO-Dot-Attributes-Orthogonal]
graph=splines=ortho
node=
edge=

[X-UMBRELLO-Dot-Attributes-Polyline]
graph=splines=polyline
node=
edge=

[X-UMBRELLO-Dot-Attributes-Direct]
graph=splines=false
node=
edge=

[X-UMBRELLO-Dot-Settings]
origin=50,50
generator=neato
