[Desktop Entry]
Type=Service
Name=Vertical Layout
Comment=Layout which renders vertical

[X-UMBRELLO-Dot-Nodes]
type::initial=shape=circle
type::normal=shape=box,style=rounded
type::end=shape=doublecircle
type::fork=shape=box,style=filled,fillcolor=black,width="0.1",label=""
type::join=shape=box,style=filled,fillcolor=black,width="0.1",label=""
type::junction=shape=circle,style=filled,fillcolor=black,width="0.4",label=""
type::deephistory=shape=circle,width="0.4",label="H*"
type::shallowhistory=shape=circle,width="0.4",label="H"
type::choice=shape=diamond
type::default=shape=box

[X-UMBRELLO-Dot-Edges]
# for visual representation
visual::type::state=arrowhead=normal
#visual::type::default=arrowhead=none,minlen=0.5
ranking::type::default=weight=0.8
# id handling
id::type::state=swap

[X-UMBRELLO-Dot-Attributes]
graph=rankdir=TB,outputorder=nodesfirst,ranksep=0.5,nodesep=0.5
node=
edge=

[X-UMBRELLO-Dot-Attributes-Spline]
graph=splines=true
node=
edge=

[X-UMBRELLO-Dot-Attributes-Orthogonal]
graph=splines=ortho
node=
edge=

[X-UMBRELLO-Dot-Attributes-Polyline]
graph=splines=polyline
node=
edge=

[X-UMBRELLO-Dot-Attributes-Direct]
graph=splines=false
node=
edge=

[X-UMBRELLO-Dot-Settings]
origin=50,50
