[Desktop Entry]
Type=Service
Name=Vertical Layout
Name[en_GB]=Vertical Layout
Name[es]=Disposición vertical
Name[fi]=Pystysuuntainen asettelu
Name[fr]=Disposition verticale
Name[it]=Disposizione verticale
Name[nl]=Verticale indeling
Name[pt]=Disposição Vertical
Name[sk]=Zvislé rozloženie
Name[sv]=Vertikal layout
Name[uk]=Вертикальне компонування
Name[x-test]=xxVertical Layoutxx
Comment=Layout which renders vertical
Comment[en_GB]=Layout which renders vertical
Comment[es]=Diseño que se organiza de forma vertical
Comment[fi]=Pystysuuntaan piirtävä asettelu
Comment[fr]=Disposition permettant un rendu vertical
Comment[it]=Disposizione che rende in verticale
Comment[nl]=Indeling die zich verticaal laat weergeven
Comment[pt]=Uma disposição que representa os itens na vertical
Comment[sk]=Rozloženie, ktoré renderuje zvislo
Comment[sv]=Layout som återger vertikalt
Comment[uk]=Компонування з вертикальним розташуванням елементів
Comment[x-test]=xxLayout which renders verticalxx

[X-UMBRELLO-Dot-Nodes]
type::initial=shape=circle
type::normal=shape=box,style=rounded
type::end=shape=doublecircle
type::fork=shape=box,style=filled,fillcolor=black,width="0.1",label=""
type::join=shape=box,style=filled,fillcolor=black,width="0.1",label=""
type::junction=shape=circle,style=filled,fillcolor=black,width="0.4",label=""
type::deephistory=shape=circle,width="0.4",label="H*"
type::shallowhistory=shape=circle,width="0.4",label="H"
type::choice=shape=diamond
type::default=shape=box

[X-UMBRELLO-Dot-Edges]
# for visual representation
visual::type::state=arrowhead=normal,label=""
#visual::type::default=arrowhead=none,minlen=0.5
ranking::type::default=weight=0.8
# id handling
id::type::state=swap

[X-UMBRELLO-Dot-Attributes]
graph=splines=polyline,rankdir=TB,outputorder=nodesfirst,ranksep=0.5,nodesep=0.5
node=
edge=

[X-UMBRELLO-Dot-Settings]
origin=50,50
