[Desktop Entry]
Type=Service
Name=Export Layout
Comment=Export Layout (renders vertical)
Comment[x-test]=xxExport Layoutxx

[X-UMBRELLO-Dot-Nodes]
type::initial=shape=circle
type::normal=shape=box,style=rounded
type::end=shape=doublecircle
type::fork=style=filled,shape=box,fillcolor=black,width="0.03",label=""
type::join=style=filled,shape=box,fillcolor=black,width="0.03",label=""
#type::junction=
#type::deepHistory=
#type::shallowHistory=
type::choice=shape=diamond
type::default=shape=box
# FIXME set label 

[X-UMBRELLO-Dot-Edges]
# for visual representation
visual::type::state=arrowhead=normal
#visual::type::default=arrowhead=none,minlen=0.5
ranking::type::default=constraint=false
# id handling
id::type::state=swap

[X-UMBRELLO-Dot-Attributes]
graph=splines=polyline,rankdir=TB,outputorder=nodesfirst,ranksep=0.5,nodesep=0.5
node=
edge=

[X-UMBRELLO-Dot-Settings]
origin=50,50
generator=neato
