# KDE Config File
[Desktop Entry]
Type=Application
Exec=umbrello %u
Icon=umbrello
X-DocPath=umbrello/index.html
Terminal=false
Name=Umbrello
GenericName=UML Modeller
Comment=Umbrello is a Unified Modelling Language (UML) modelling tool and code generator
MimeType=application/x-uml;text/x-xmi;
Categories=Qt;KDE;Development;
