# KDE Config File
[Desktop Entry]
Type=Application
Exec=umbrello %u
Icon=umbrello
X-DocPath=umbrello/index.html
Terminal=false
Name=Umbrello
Name[nl]=Umbrello
GenericName=UML Modeller
GenericName[nl]=UML-modeller
Comment=Umbrello is a Unified Modelling Language (UML) modelling tool and code generator
Comment[nl]=Umbrello is een geünificeerde modelleringstaal (UML) modelleringshulpmiddel en codegenerator
MimeType=application/x-uml;text/x-xmi;
Categories=Qt;KDE;Development;
