# KDE Config File
[Desktop Entry]
Type=Application
Exec=umbrello %u -caption %c
Icon=umbrello
X-DocPath=umbrello/index.html
Terminal=false
Name=Umbrello
Name[sv]=Umbrello
GenericName=UML Modeller
GenericName[sv]=UML-modellering
MimeType=application/x-uml;text/x-xmi;
Categories=Qt;KDE;Development;
