[Desktop Entry]
Type=MimeType
MimeType=application/x-uml
Icon=umbrellofile
DefaultApp=umbrello
Patterns=*.xmi;*.XMI;
Comment=Umbrello UML Modeller File
