[Desktop Entry]
Type=MimeType
MimeType=application/x-uml
Icon=umbrellofile
DefaultApp=umbrello
Patterns=*.xmi;*.XMI;
Comment=Umbrello UML Modeler file
Comment[ca]=Modelador de fitxers UML Umbrello
Comment[cy]=Ffeil Modelydd UML Umbrello
Comment[da]=Umbrello UML Modeller fil
Comment[hu]=Umbrello UML fájl
Comment[pt_BR]=Arquivo de Modelador UML Umbrello
Comment[ru]=Файл моделера UML Umbrello
Comment[sv]=Umbrello UML-modelleringsfil
Comment[xx]=xxUmbrello UML Modeller filexx
